body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
 
  align-items: center;
  padding-left: 20px;
  background-image: url(../img/board-g07e321a89_1920.jpeg);
}

.content {
  margin-left: 2px;
}
#calcolatrice {
  background-color: rgb(239, 14, 142);
  display: inline-block;
  font-family: "Big Shoulders Stencil Display";
  width: 220px;
  border: 1px solid rgb(191, 9, 112);
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgb(215, 9, 126);
  padding:1em;
  position: fixed;
  top:5vh;
  left:5vw;
  
}
#logo {
  display: flex;
  justify-content: right;
  margin-right: 5px;
  padding-top: 5px;
}
#logo img {
  width: 20%;
}
.tasto {
  background-color: #959da4;
  color: #f2f4f6;
  font-size: 15pt;
  text-align: right;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 4px 0 rgb(59, 56, 57);
  margin: 4px 2px;
  height: 40px;
  width: 46px;
  font-family: "Big Shoulders Stencil Display";
}
.tasto:hover {
  color: chartreuse;
}
.display {
  background: rgb(37, 62, 37);
  color: greenyellow;
  font-size: 24pt;
  border: #175c97 solid 2px;
  margin: 4px 2px;
  width: 204px;
  height: 40px;
  font-family: "Big Shoulders Stencil Display";
  text-align: end;
  overflow: hidden;
}
.uguale {
  width: 208px;
  border-radius: 3px;
  text-align: center;
}

#foglio {
  box-sizing: border-box;
  border: 1px solid #959da4;
  background-color: #DBC9B4;
  margin-left: 100px;
  margin-top: 30px;
  width: 500px;
  max-height: 90vh;
  padding: 10px;
  border-radius: 20px;
  transform: rotate(-8deg);
  position: fixed;
  top:2vh;
  left:20vw;
}
#foglio div {
  padding: 10px;
  
  font-family: "Gochi Hand";
  font-size: xx-large;
  color: red;
}
.output {
  font-family: "Gochi Hand";
  font-size: normal;
  color: black;
  padding: 0;
}
#head{
    border-bottom: 1px solid #959da4;

}
#links{
  position: absolute;
  left:1470px;
  top:92vh;
}


